<!DOCTYPE html>
<head>
  <title>Exchange Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="title text-center my-4">
      <h3>ETH-BTC</h3>
    </div>

    <div class="row">
      <div class="col-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Size</th>
              <th class="text-right">Bid</th>
            </tr>
          </thead>
          <tbody id="bid-orders">
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="text-right">
                <b>
                  Total bid volume: <span id="total-bid-volume"></span>
                </b>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Ask</th>
              <th class="text-right">Size</th>
            </tr>
          </thead>
          <tbody id="ask-orders">
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="text-right">
                <b>
                  Total ask size: <span id="total-ask-size"></span>
                </b>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
